html, body{
  width:100%;
  height:100%;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  color: #000;
  display: block;
}
.blue-bar{
    height: 8px;
    background: #003c80;
}
.white-bar{
    height: 8px;
    background: #f7f7f7;
}
.red-bar{
    height: 8px;
    background: #b10117;
}
.text-row-top {
  margin-bottom: 20px;
  overflow: hidden;
}
.text-row {
  margin-bottom: 10px;
  overflow: hidden;
}
.polarity, .magnitude, .speech-text {
  float: left;
  padding: 2px;
  display: inline-block;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.polarity, .magnitude {
  text-align: center;
  vertical-align:middle;
  display:table-cell;

}
#clinton-container, #trump-container {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
