html, body{
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #000;
  display: block;
}
.blue-bar{
  height: 8px;
  background: #003c80;
}
.white-bar{
  height: 8px;
  background: #f7f7f7;
}
.red-bar{
  height: 8px;
  background: #b10117;
}
.polarity-gradient{
  background: linear-gradient(to right, #1AFF8C, #8C8C8C, #FF8C1A );
  line-height: 40px;
}
.magnitude-gradient{
  background: linear-gradient(to right, #8C8C8C, #8C1AFF );
  line-height: 40px;
}
.clinton-boarder{
  border: 3px solid #003c80;
  margin-bottom: 20px;
}
.trump-boarder{
  border: 3px solid #b10117;
  margin-bottom: 20px;
}
.text-row-header {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}
.text-row-subheader {
  margin-top: 30px;
  margin-bottom: 15px;
  overflow: hidden;
}
.text-row {
  margin-bottom: 15px;
  overflow: hidden;
}
.text-row-last{
  margin-bottom: 40px;
  overflow: hidden;
}
.speech-text {
  float: left;
  padding: 10px;
  display: inline-block;
}
.polarity, .magnitude {
  float: left;
  padding: 10px;
  display: inline-block;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.polarity, .magnitude {
  text-align: center;
}
.speech-content {
  background-color: #fdfdfd;

}
#clinton-container, #trump-container {
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
}
